body {
  font-family: 'Noto Sans', sans-serif;
}

.advantage{
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  text-align: left;
  font-size: larger
}

.abstract{
  margin-top: 16px;
}

.author{
  margin-bottom: 2px;
}
#bibtex{

  display: none;
  position: fixed; 
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

}

.bibtexContent {
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.carouselImage{
  height: 720px;
}

#dispImage{

  display: none;
  position: fixed; 
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

}

#image{

  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;

}

.hero.is-small.is-light{
  background-color: #f5f5f5;
  color: rgba(0,0,0,.7);
  height: auto;
}

.hero.is-small.is-light .hero-body{
  height: auto;
  overflow: hidden;
}

.has-text-centered{
  text-align: center !important;
  margin-top: 16px;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
  height: auto;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.people-container{

  margin-bottom: 16px;
  float: left;
}

.people-image-container{
  width: 20%;
  float: left;
}

.people-description{

  width: 75%;
  float: left;
  padding-left: 10px;
  margin-left: 10px;
}

.publication{
  flex-direction: row;
  display: flex;
  margin: 8px;
}

.publication-publishedInfo {
  /* float: left; */
  flex-direction: row;
  display: flex;
  margin-top: 4px; 

}


.publication-info{

  width: 65%;
  height: auto;
  

}

.publication-image{
  width: 35%;
  float: left;
  margin-left: 4px;
  padding-left: 2.5%
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.publication-ourWork{

  position: relative;
  /*z-index: 2;*/
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px !important;
  padding: 1% 0.5em 1%
}

.paper{

  z-index: 1;
  position: relative;
  background-color: #FFFFFF;
  /* 现在这个阴影好看一点了 */
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4) !important;
  width: 100%;
  /* height: auto; */
  top: 0;
  left: 0;
  margin-bottom: 3%;
  padding: 1em; 
  /* margin: 0 4px 0 3% */

}

.paperTitle{
  font-weight: bold;
}

.published{
  font-weight: bold;
  margin-left: 4px;
}
.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
 
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-bottom: 5%;

}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.social-links{
  text-align: justify;
  margin-top: 3px;
}

.eql-cntrb { 
  font-size: smaller;
}



