body {
  font-family: 'Noto Sans', sans-serif;
}

/* 注意：记得限制这些标签的使用范围！ */
a {font-size:20px}
a:link {color: black; text-decoration:none;} 
a:active {color: black; } 
a:visited {color:black;text-decoration:none;} 
a:hover {color: black; text-decoration:underline;}

.advantage{
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  text-align: left;
  font-size: larger
}

.abstract .motivation-container{
  margin-top: 16px;
}

.author{
  margin-bottom: 2px;
}

#citation{

  display: none;
  position: fixed; 
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

}

.bibtexContent {
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.carouselImage{
  max-height: 720px;
}

.check-box{
  width: 100%;
  flex-direction: row;
  display: flex;
  margin: 0 auto;
  padding: 1% 0.5em 1%;
  
}

.check-item-onClick{
  display: flex;
  justify-content: center;
  font-size: 28px;
  flex: 1;
  background-color: #409EFF;
  color: #FFFFFF;
  height: 50px;
  border-radius: 3%;
  font-weight: bold;
}

.check-item-unClick{
  display: flex;
  justify-content: center;
  font-size: 28px;
  flex: 1;
  background-color: #FFFFFF;
  color: #909399;
  border-radius: 3%;
  padding-top: 0.0625em;
}

#dispImage{

  display: none;
  position: fixed; 
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

}

#image{

  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;

}

.hero.is-small.is-light{
  background-color: #f5f5f5;
  color: rgba(0,0,0,.7);
  height: auto;
}

.hero.is-small.is-light .hero-body{
  height: auto;
  overflow: hidden;
}

.has-text-centered{
  text-align: center !important;
  margin-top: 16px;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.navBar{

  background-color: #f5f5f5;
  color:rgba(0, 0, 0, 0.7);

}

.nav-container{
  /* width: 1000px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 0.5em 2em 0.5em;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.nav-ul{
  display: table;
  /* margin-left: auto !important; */
}

.nav-li-img{
  display: table-cell;
  height: 32px;
  padding: 0.5em 1em;
}

.nav-li {
  display: table-cell;
  margin-left: 8em;
  padding: 0.75em 3em 1em;
  font-size: 1em;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-icon{
  padding: 0.5em 0em 1em;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
  height: auto;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.people-container{

  margin-bottom: 16px;
  float: left;
}

.people-image-container{
  width: 20%;
  float: left;
}

.people-description{

  width: 75%;
  float: left;
  padding-left: 10px;
  margin-left: 10px;
}

.publication{
  flex-direction: row;
  display: flex;
  margin: 8px;
}

.publication-publishedInfo {
  /* float: left; */
  flex-direction: row;
  display: flex;
  margin-top: 4px; 

}


.publication-info{

  width: 65%;
  height: auto;
  

}

.publication-image{
  width: 35%;
  float: left;
  margin-left: 4px;
  padding-left: 2.5%
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.publication-ourWork{

  position: relative;
  /*z-index: 2;*/
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px !important;
  padding: 1% 0.5em 1%
}

.paper{

  z-index: 1;
  position: relative;
  background-color: #FFFFFF;
  /* 现在这个阴影好看一点了 */
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4) !important;
  width: 100%;
  /* height: auto; */
  top: 0;
  left: 0;
  margin-bottom: 3%;
  padding: 1em; 
  /* margin: 0 4px 0 3% */

}

.paperTitle{
  font-weight: bold;
}

.published{
  /* font-weight: bold; */
  margin-left: 4px;
}
.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
 
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
  flex-direction: column;
  display: flex;
  padding-bottom: 5%;
  /* justify-content: center; */
  /* align-items: center; */
}

.results-carousel video {
  margin: 0;
}

.successTip{
  z-index: 3;
  background-color: #67c23a;
  position: fixed;
  color: #FFFFFF;
  width: 60%;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.errorTip{
  z-index: 3;
  background-color: #F56C6C;
  opacity: 50%;
  position: fixed;
  color: #FFFFFF;
  width: 60%;
  padding: 1em;
  top: 0;
  left: 0;
  overflow: auto;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.slider-pagination .slider-page {
  background: #000000;
}

.social-links{
  text-align: justify;
  margin-top: 3px;
}

.scshape{
  font-variant: small-caps;
}

.wanni{
  float: left;
}

.eql-cntrb { 
  font-size: smaller;
}



